.card-title {
    padding: 20px;
    text-align: center;
    color: #383A3F;
}
 

 .gm-style .gm-style-iw #google-popup p{
    padding: 10px;
 }


.gm-style div div div div div div div div {
    margin: 0;
    padding: 0;
    top: 0;
    color: black;
    font-size: 16px;
}

