.event-card {
    margin: 20px;
    padding: 20px 20px;
    border: 1px;
    border-radius: 10px;
    background: #383A3F;
    color: #f2f3f4;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.event-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.exp-level {
    text-transform: uppercase;
}

.event-name {
    font-size: 40px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: #F8FFA8;
}

.date-time {
    padding-bottom: 70px;
}

.activity {
    font-size: 20px;
}

.description {
    padding-bottom: 20px;
}

.row {
    position: relative;
    display: flex;
}

.column {
    position: relative;
    flex: 50%;
}

.top {
    position: relative;
    top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.bottom button {
    cursor: pointer;
    padding: 0.2em .9em;
    border-radius: 20px;
    border: 2px solid #FDFD96;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    font-family: inherit;
    color: #FDFD96;
   }
   
.bottom button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #FDFD96;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.bottom button:hover::before {
    width: 105%;
}

.bottom button:hover {
    color: #111;
}


.locate-link {
    padding-left: 20px;
}

.locate-link button{
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    color: #FFCD9B;
}

.locate-link button::after {
    position: absolute;
    top: 15px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #FFCD9B;
    transition: all 0.5s;
}
  
.locate-link button:hover::after {
    width: 100%;
}

.avatar{
    padding-left: 4%;
    border-radius: 20px;
}